body {
  font-family: $baseFont;
  overflow-x: hidden;
  @include styled-scrollbar;
  caret-color: transparent;
}

textarea {
  border: none;
}
html {
  scroll-behavior: smooth;
}

picture {
  width: 100%;
  height: 100%;
}
