$color-active: #DB2E27;
$bg-default: #FFF;
$main-text: #6F7173;
$title-text: #1B1B1B;
$bg-decor: #D8D9DA;

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  font-family: $font-inter;

  .inner {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 rem(32px);
    position: relative;

    @media #{media('<',l)} {
      max-width: 100%;
    }

    @media #{media('<',m)} {
      padding: 0 rem(10px);
    }
  }

  main {
    flex: 1 0;
  }
}
