.announcement-img {
  position: relative;
  width: 100%;
  left: rem(-32px);
  bottom: 0;
  overflow-y: hidden;
  @media#{media('<', d)} {
    left: 0;
    bottom: 0;
    overflow: hidden;
  }
  &__img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}
