mixin announcement-img(mods)
  -
    const baseName = 'announcement-img'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .announcement-img(class=allMods)&attributes(attributes)
    +picture('planet.png')

    //img.announcement__img(src="/images/planet.png" alt="")
