.button {
  position: relative;
  display: flex;
  height: rem(60px);
  width: rem(292px);
  background-color: #DB2E27;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  text-transform: uppercase;
  transition: $transition;
  white-space: nowrap;
  font-size: rem(24px);
  font-family: $druk;
  font-weight: 700;
  line-height: rem(26px);
  color :#FFF;
  padding: 0 rem(20px);
  letter-spacing: 0;
  &::after {
    display: block;
    position: absolute;
    top: rem(30px);
    transform: translateY(-50%);
    right: rem(20px);
    width: rem(17px);
    height: rem(11px);
    content: "";
    background-image: url('data:image/svg+xml, <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0.671875 7.00026L0.671875 5.00026L13.5002 5.00026L10.2577 1.75773L11.6719 0.343518L17.3287 6.00037L11.6719 11.6572L10.2577 10.243L13.5004 7.00026L0.671875 7.00026Z" fill="white"/> </svg>');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &:hover {
    opacity: 0.8;
  }
  &:disabled {
    background: #f0e7ef;
    pointer-events: none;
    color: #DB2E27;
    opacity: 0.3;
  }
  @media#{media("<", d)} {
    width: 100%;
    height: rem(34px);
    padding: 0 rem(8px);
    font-size: rem(16px);
    line-height: rem(34px);
    letter-spacing: 0;
    align-self: start;
    &::after {
      top: rem(16px);
      transform: translateY(-50%);
      right: rem(10px);
      width: rem(10px);
      height: rem(14px);
    }
  }
}
