.button {
  position: relative;
  display: flex;
  height: rem(60px);
  width: rem(292px);
  background-color: #DB2E27;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  text-transform: uppercase;
  transition: $transition;
  white-space: nowrap;
  font-size: rem(24px);
  font-family: $druk;
  font-weight: 700;
  line-height: rem(26px);
  color :#FFF;
  padding: 0 rem(20px);
  letter-spacing: 0;
  svg {
    display: block;
    position: absolute;
    top: rem(30px);
    transform: translateY(-50%);
    right: rem(20px);
    width: rem(17px);
    height: rem(11px);
  }

  &:hover {
    opacity: 0.9;
  }
  &:disabled {
    background: #f0e7ef;
    pointer-events: none;
    color: #DB2E27;
    opacity: 0.3;
  }
  @media#{media("<", d)} {
    width: 100%;
    height: rem(34px);
    padding: 0 rem(8px);
    font-size: rem(16px);
    line-height: rem(34px);
    letter-spacing: 0;
    align-self: start;
    svg {
      top: rem(16px);
      transform: translateY(-50%);
      right: rem(10px);
      width: rem(10px);
      height: rem(14px);
    }
  }
}
