mixin count-contry(mods)
  -
    const baseName = 'count-contry'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .count-contry(class=allMods)&attributes(attributes)
      span.count-contry__count 20+
      p.count-contry__txt
        span.count-contry__txt-span стран
        span.count-contry__txt-span на карте
        span.count-contry__txt-span проектов


