mixin main-screen(mods)
  -
    const baseName = 'main-screen'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .main-screen(class=allMods)&attributes(attributes)
    +announcement
    +main-info
