mixin main-screen(mods)
  -
    const baseName = 'main-screen'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .main-screen.main-screen_desctop.inner(class=allMods)&attributes(attributes)
    section.main-screen__left
      .main-screen__wrap
        +announcement
        +button("О компании")
      +announcement-img

    section.main-screen__right
      +main-title
      +count-contry
      +achievements


  .main-screen.main-screen_mobile(class=allMods)&attributes(attributes)
    +announcement
    +main-title
    section.main-screen_border
      +count-contry
      +announcement-img
    +achievements
    +button("О компании")


