.main-screen {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  column-gap: rem(55px);
  padding: rem(80px) 0 rem(25px);
  @media#{media('<', d)} {
    flex-direction: column;
  }
}
