.main-screen {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: rem(80px) 0 rem(25px);
  &_border {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: rem(720px);
    border: 1px solid #D8D9DA;
    margin-bottom: rem(16px);

  }
  @media#{media('<', d)} {
    height: auto;
    flex-direction: column;
    &_desctop {
      display: none;
    }
  }
  @media#{media('<', m)} {
    &_border {
      height: rem(640px);
    }
  }
  @media#{media('<', s)} {
    &_border {
      height: rem(380px);
    }
  }

  &_mobile {
    display: none;
    @media#{media('<', d)} {
      display: block;
      padding: 0;
    }
  }
  &__left {
    position: fixed;
    top: rem(100px);
    left: rem(32px);

    width: rem(883px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: rem(74px);
    @media#{media('<', ll)} {
      row-gap: rem(16px);
    }
  }
  &__right {
    width: rem(982px);
    position: relative;
    padding-bottom: rem(25px);
    @media#{media('<', d)} {
      overflow-y: hidden;
      &:first-child {
        display: none !important;
      }
    }
  }
  &__wrap {

  }

}
