.main-info {
  position: relative;
  overflow-y: scroll;
  @include scrollbar-hidden;
  @media#{media('<', d)} {
    overflow-y: hidden;
  }

  &__title {
    position: relative;
    border-bottom: 1px solid #E23624;
    padding: 0 rem(210px) rem(32px) 0;
    @media#{media('<', d)} {
      font-size: rem(24px);
      line-height: rem(26px);
      padding: 0 rem(100px) rem(16px) 0;
    }
  }
  &__title-color {
    display: block;
    color: #6F7173;
  }
  &__year {
    position: absolute;
    bottom: rem(32px);
    left: 35%;
    font-family: $font-inter;
    font-size: rem(20px);
    line-height: rem(30px);
    letter-spacing: -2%;
    font-weight: 400;
    &-color {
      color: #E23624;
    }
    @media#{media('<', d)} {
      bottom: rem(16px);
      right: 0;
      font-size: rem(14px);
      line-height: rem(21px);
      text-align: right;
    }
  }

  &__count-contry {
    padding: rem(140px) 0;
    display: flex;
    justify-content: flex-start;
    column-gap: rem(68px);
    @media#{media('<', d)} {
      padding: rem(24px) 0 rem(48px) rem(24px);
      column-gap: rem(16px);
    }
  }
  &__count {
    color: #E23624;
    font-size: rem(290px);
    line-height: rem(203px);
    letter-spacing: -6%;
    font-weight: 700;
    font-family: $druk;
    @media#{media('<', d)} {
      font-size: rem(140px);
      line-height: rem(112px);
      letter-spacing: -8%;
    }
  }
  &__txt {
  }
  &__txt-span {
    display: block;
    font-size: rem(48px);
    line-height: rem(46px);
    letter-spacing: -2%;
    font-weight: 700;
    font-family: $druk;
    color: #1B1B1B;
    text-transform: uppercase;
    @media#{media('<', d)} {
      font-size: rem(24px);
      line-height: rem(26px);
    }
  }

}
