mixin main-info(mods)
  -
    const baseName = 'main-info'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .main-info(class=allMods)&attributes(attributes)
    header.main-info__title.title-108 развиваем российские решения
      | <span class='main-info__title-color'>по переработке минерального сырья</span>
      p.main-info__year [ <span class="main-info__year-color"> с 1991 года</span> ]

    .main-info__count-contry
      span.main-info__count 20+
      p.main-info__txt
        span.main-info__txt-span стран
        span.main-info__txt-span на карте
        span.main-info__txt-span проектов

