mixin main-info(mods)
  -
    const baseName = 'main-info'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .main-info(class=allMods)&attributes(attributes)
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad architecto aspernatur at consectetur, consequatur dolorem laboriosam nisi nobis obcaecati perferendis quo repellat, totam unde voluptatem. Accusantium beatae cum dignissimos dolorum ducimus harum id labore, molestias mollitia nam neque nisi obcaecati omnis perspiciatis provident, qui quis quisquam ratione saepe suscipit tempore velit vero! At consequatur cumque ex facilis iste odio quae temporibus vel veritatis vitae! Doloremque earum fuga officiis. Inventore, iste, sequi. Error facilis nemo neque. Aperiam assumenda dolore fugiat nulla veniam.
