mixin enrichment(mods)
  -
    const baseName = 'enrichment'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }


  .enrichment(class=allMods)&attributes(attributes)
    acticle.enrichment__item
      .enrichment__images
        img(src="#", alt="", class="enrichment__img")
        +ic-plug.enrichment__ic-plug
      .enrichment__info
        header.enrichment__title(class="title-64") Гравитационный метод обогащения
        p Гравитационный метод обогащения представлен рядом процессов, в которых разделение происходит за счет отличия в характере движения частиц, обладающих различной плотностью, размером и формой в рабочем поле сепаратора.
      a.enrichment__link подробнее
        +arrow

    acticle.enrichment__item
      .enrichment__images
        img(src="#", alt="", class="enrichment__img")
        +ic-plug.enrichment__ic-plug
      .enrichment__info
        header.enrichment__title(class="title-64") Гравитационный метод обогащения
        p Гравитационный метод обогащения представлен рядом процессов, в которых разделение происходит за счет отличия в характере движения частиц, обладающих различной плотностью, размером и формой в рабочем поле сепаратора.
      a.enrichment__link подробнее
        +arrow

