.enrichment {
  $comp: &;
  position: relative;
  @media#{media("<", s)} {

  }
  &__item {
    display: flex;
    justify-content: space-between;
    column-gap: rem(20px);
    padding: rem(20px) 0 rem(65px);
    border-top: 1px solid #D8D9DA;
    &:nth-child(even) {
      flex-direction: row-reverse;
      #{$comp}__info {
        order: 1;
      }
    }
    @media#{media("<", d)} {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: rem(12px);
      &:nth-child(even) {
        flex-direction: row;
        #{$comp}__info {
          order: 0;
        }
      }

    }
    @media#{media("<", s)} {
      grid-template-columns: 1fr;
      padding: rem(12px) 0 rem(16px);
    }
  }
  &__info {
    font-size: rem(20px);
    line-height: rem(30px);
    font-family: $font-inter;
    color: #6F7173;
    @media#{media("<", d)} {
      font-size: rem(12px);
      line-height: rem(18px);
      margin-bottom: rem(12px);
    }
  }
  &__title {
    color:#1B1B1B;
    font-family: $druk;
    margin-bottom: rem(20px);
    letter-spacing: 0;
    @media#{media("<", d)} {
      font-size: rem(24px);
      line-height: rem(26px);
      letter-spacing: 0;
      margin-bottom: rem(12px);
    }
  }
  &__images {
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    width: rem(918px);
    height: rem(453px);
    background-color: #D8D9DA;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: rem(154px);
      height: rem(148px);
    }
    @media#{media("<", d)} {
      grid-row: span 2;
      width: 100%;
      height: rem(174px);
      svg {
        width: rem(69px);
        height: rem(64px);
      }
    }
    @media#{media("<", s)} {
      margin-bottom: rem(12px);
    }
  }
  &__img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  &__link {
    flex-shrink: 0;
    flex-grow: 0;
    align-self: flex-end;
    position: relative;
    display: block;
    width: rem(292px);
    height: rem(60px);
    background-color: #DB2E27;
    color: #FFF;
    padding: 0 rem(20px);
    text-transform: uppercase;
    font-family: $druk;
    font-weight: 700;
    font-size: rem(24px);
    line-height: rem(60px);
    letter-spacing: rem(1px);
    cursor: pointer;
    svg {
      display: block;
      position: absolute;
      top: rem(30px);
      transform: translateY(-50%);
      right: rem(20px);
      width: rem(17px);
      height: rem(11px);
    }
    &:hover {
      opacity: 0.9;
    }
    @media#{media("<", d)} {
      width: 100%;
      height: rem(34px);
      padding: 0 rem(8px);
      font-size: rem(16px);
      line-height: rem(34px);
      letter-spacing: 0;
      align-self: start;
      svg {
        top: rem(16px);
        transform: translateY(-50%);
        right: rem(10px);
        width: rem(10px);
        height: rem(14px);
      }
    }
  }




}
