.ui-ol {
  counter-reset: itemOl;
  list-style-type: none;
  li {
    position: relative;
    padding-left: 40px;
    counter-increment: itemOl;
    @media #{media('<',l)} {
      padding-left: 35px;
    }
    &::before {
      content: counter(itemOl);
      position: absolute;
      top: 10px;
      left: 0;
      font-size: 16px;
      color: teal;
      @media #{media('<',l)} {
        top: 6px;
      }
      @media #{media('<',m)} {
        top: 4px;
        font-size: 14px;
      }
    }
    &:nth-child(-n + 9) {
      &::before {
        content: '0' counter(itemOl);
      }
    }
    &:not(:last-child) {
      margin-bottom: 30px;
      @media #{media('<',l)} {
        margin-bottom: 25px;
      }
      @media #{media('<',m)} {
        margin-bottom: 20px;
      }
    }
  }
}
