mixin socials(mods)
  -
    const baseName = 'socials'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .socials(class=allMods)&attributes(attributes)
    a.socials__link(href='#')
      <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.22615 7.40355L13.1395 2.35766C14.3155 1.83205 18.3036 0.150082 18.3036 0.150082C18.3036 0.150082 20.1443 -0.585778 19.9909 1.20131C19.9398 1.93717 19.5307 4.51267 19.1217 7.29843L17.8435 15.5506C17.8435 15.5506 17.7412 16.7595 16.872 16.9697C16.0028 17.18 14.5711 16.2339 14.3155 16.0236C14.111 15.8659 10.4807 13.5007 9.15133 12.3443C8.79341 12.029 8.38437 11.3982 9.20246 10.6624C11.0431 8.92783 13.2417 6.77281 14.5711 5.40622C15.1847 4.77548 15.7982 3.30376 13.2417 5.09085L6.03238 10.0842C6.03238 10.0842 5.2143 10.6098 3.6804 10.1367C2.14649 9.66369 0.356936 9.03295 0.356936 9.03295C0.356936 9.03295 -0.870188 8.24453 1.22615 7.40355Z" fill="#1B1B1B"/>
      </svg>
    a.socials__link(href='#')
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_271_4776)">
      <path d="M13.1214 13.1214C11.3929 14.905 11.2671 17.1286 11.1179 22C15.6593 22 18.7943 21.9843 20.4129 20.4129C21.9843 18.7943 22 15.51 22 11.1179C17.1286 11.275 14.905 11.3929 13.1214 13.1214ZM0 11.1179C0 15.51 0.0157143 18.7943 1.58714 20.4129C3.20571 21.9843 6.34071 22 10.8821 22C10.725 17.1286 10.6071 14.905 8.87857 13.1214C7.095 11.3929 4.87143 11.2671 0 11.1179ZM10.8821 0C6.34857 0 3.20571 0.0157143 1.58714 1.58714C0.0157143 3.20571 0 6.49 0 10.8821C4.87143 10.725 7.095 10.6071 8.87857 8.87857C10.6071 7.095 10.7329 4.87143 10.8821 0ZM13.1214 8.87857C11.3929 7.095 11.2671 4.87143 11.1179 0C15.6593 0 18.7943 0.0157143 20.4129 1.58714C21.9843 3.20571 22 6.49 22 10.8821C17.1286 10.725 14.905 10.6071 13.1214 8.87857Z" fill="#1B1B1B"/>
      </g>
      <defs>
      <clipPath id="clip0_271_4776">
      <rect width="22" height="22" fill="white"/>
      </clipPath>
      </defs>
      </svg>
    a.socials__link(href='#')
      <svg width="24" height="15" viewBox="0 0 24 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.0718 15C4.87188 15 0.194878 9.36937 0 0H4.10743C4.24235 6.87688 7.27038 9.78979 9.66888 10.3904V0H13.5366V5.93093C15.9051 5.67568 18.3933 2.97297 19.2328 0H23.1004C22.4558 3.66366 19.7575 6.36637 17.8387 7.47748C19.7575 8.37838 22.8307 10.7357 24 15H19.7425C18.8281 12.1471 16.5497 9.93994 13.5366 9.63964V15H13.0718Z" fill="#1B1B1B"/>
      </svg>
    a.socials__link(href='#')
      <svg width="26" height="18" viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M23.2202 0.631318C24.315 0.924385 25.1755 1.78475 25.4685 2.87957C25.9981 4.86195 26.0002 9.00049 26.0002 9.00049C26.0002 9.00049 26.0002 13.139 25.4685 15.1214C25.1755 16.2163 24.315 17.0766 23.2202 17.3696C21.2379 17.9014 13.2852 17.9014 13.2852 17.9014C13.2852 17.9014 5.33266 17.9014 3.35026 17.3696C2.25545 17.0766 1.39509 16.2163 1.10202 15.1214C0.570312 13.139 0.570312 9.00049 0.570312 9.00049C0.570312 9.00049 0.570312 4.86195 1.10202 2.87957C1.39509 1.78475 2.25545 0.924385 3.35026 0.631318C5.33266 0.0996094 13.2852 0.0996094 13.2852 0.0996094C13.2852 0.0996094 21.2379 0.0996094 23.2202 0.631318ZM17.3464 8.99963L10.7398 12.8137V5.18555L17.3464 8.99963Z" fill="#1B1B1B"/>
      </svg>
