mixin socials(mods)
  -
    const baseName = 'socials'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .socials(class=allMods)&attributes(attributes)
    a.socials__link(href='#')
      +telegram
    a.socials__link(href='#')
      +dzen
    a.socials__link(href='#')
      +vk
    a.socials__link(href='#')
      +youtube
