.footer
  .inner
    section.footer__footer-contacts-block
      .socials
        a.socials__socials-link(href='#')
          <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.22615 7.40355L13.1395 2.35766C14.3155 1.83205 18.3036 0.150082 18.3036 0.150082C18.3036 0.150082 20.1443 -0.585778 19.9909 1.20131C19.9398 1.93717 19.5307 4.51267 19.1217 7.29843L17.8435 15.5506C17.8435 15.5506 17.7412 16.7595 16.872 16.9697C16.0028 17.18 14.5711 16.2339 14.3155 16.0236C14.111 15.8659 10.4807 13.5007 9.15133 12.3443C8.79341 12.029 8.38437 11.3982 9.20246 10.6624C11.0431 8.92783 13.2417 6.77281 14.5711 5.40622C15.1847 4.77548 15.7982 3.30376 13.2417 5.09085L6.03238 10.0842C6.03238 10.0842 5.2143 10.6098 3.6804 10.1367C2.14649 9.66369 0.356936 9.03295 0.356936 9.03295C0.356936 9.03295 -0.870188 8.24453 1.22615 7.40355Z" fill="#1B1B1B"/>
          </svg>
        a.socials__socials-link(href='#')
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_271_4776)">
          <path d="M13.1214 13.1214C11.3929 14.905 11.2671 17.1286 11.1179 22C15.6593 22 18.7943 21.9843 20.4129 20.4129C21.9843 18.7943 22 15.51 22 11.1179C17.1286 11.275 14.905 11.3929 13.1214 13.1214ZM0 11.1179C0 15.51 0.0157143 18.7943 1.58714 20.4129C3.20571 21.9843 6.34071 22 10.8821 22C10.725 17.1286 10.6071 14.905 8.87857 13.1214C7.095 11.3929 4.87143 11.2671 0 11.1179ZM10.8821 0C6.34857 0 3.20571 0.0157143 1.58714 1.58714C0.0157143 3.20571 0 6.49 0 10.8821C4.87143 10.725 7.095 10.6071 8.87857 8.87857C10.6071 7.095 10.7329 4.87143 10.8821 0ZM13.1214 8.87857C11.3929 7.095 11.2671 4.87143 11.1179 0C15.6593 0 18.7943 0.0157143 20.4129 1.58714C21.9843 3.20571 22 6.49 22 10.8821C17.1286 10.725 14.905 10.6071 13.1214 8.87857Z" fill="#1B1B1B"/>
          </g>
          <defs>
          <clipPath id="clip0_271_4776">
          <rect width="22" height="22" fill="white"/>
          </clipPath>
          </defs>
          </svg>
        a.socials__socials-link(href='#')
          <svg width="24" height="15" viewBox="0 0 24 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.0718 15C4.87188 15 0.194878 9.36937 0 0H4.10743C4.24235 6.87688 7.27038 9.78979 9.66888 10.3904V0H13.5366V5.93093C15.9051 5.67568 18.3933 2.97297 19.2328 0H23.1004C22.4558 3.66366 19.7575 6.36637 17.8387 7.47748C19.7575 8.37838 22.8307 10.7357 24 15H19.7425C18.8281 12.1471 16.5497 9.93994 13.5366 9.63964V15H13.0718Z" fill="#1B1B1B"/>
          </svg>
        a.socials__socials-link(href='#')
          <svg width="26" height="18" viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M23.2202 0.631318C24.315 0.924385 25.1755 1.78475 25.4685 2.87957C25.9981 4.86195 26.0002 9.00049 26.0002 9.00049C26.0002 9.00049 26.0002 13.139 25.4685 15.1214C25.1755 16.2163 24.315 17.0766 23.2202 17.3696C21.2379 17.9014 13.2852 17.9014 13.2852 17.9014C13.2852 17.9014 5.33266 17.9014 3.35026 17.3696C2.25545 17.0766 1.39509 16.2163 1.10202 15.1214C0.570312 13.139 0.570312 9.00049 0.570312 9.00049C0.570312 9.00049 0.570312 4.86195 1.10202 2.87957C1.39509 1.78475 2.25545 0.924385 3.35026 0.631318C5.33266 0.0996094 13.2852 0.0996094 13.2852 0.0996094C13.2852 0.0996094 21.2379 0.0996094 23.2202 0.631318ZM17.3464 8.99963L10.7398 12.8137V5.18555L17.3464 8.99963Z" fill="#1B1B1B"/>
          </svg>

      .contacts
        .contacts__contacts-item
          header.contacts__contacts-title телефон
          a.contacts__contacts-link(href="tel:+7 812 321-57-05") 8 812 321-57-05
          a.contacts__contacts-link(href="tel:+7 812 321-57-04") 8 812 321-57-04

        .contacts__contacts-item
          header.contacts__contacts-title факс
          a.contacts__contacts-link(href="tel:+7 812 321-57-05") +7 812 321-57-05

        .contacts__contacts-item
          header.contacts__contacts-title почта
          a.contacts__contacts-link(href="mailto:rivs@rivs.ru") rivs@rivs.ru







    footer.footer__footer-copy-right
      span.footer__footer-text  © РИВС 2024
      a.footer__footer-link(href='#' class='footer__footer-link_footer-link-uppercase') политика конфиденциальности
      span.footer__footer-text_footer-text-right Сделано в
        a.footer__footer-logo(href='#')
          <svg width="92" height="11" viewBox="0 0 92 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.5163 1.65095C12.5163 4.29324 11.9711 6.174 10.8922 7.24418C10.0701 8.06052 9.17882 8.14418 8.83555 8.13841L8.26152 8.16148L6.7038 6.28938C7.22879 5.9115 7.5432 5.28843 7.84608 4.68266C7.94704 4.48362 8.04514 4.28747 8.15764 4.08844L10.0009 0.502887H7.11057L6.0173 2.64902L5.80961 3.06152C5.55288 3.57498 5.16343 4.35381 4.9067 4.35381H2.74325V0.502887H0V10.4951H2.74325V6.64418H3.70096L6.9519 10.4951H10.1278H10.2663C10.4538 10.4951 14.8355 10.4057 15.2336 2.79037H18.297V10.4951H21.0402V0.5H12.5192V1.65095H12.5163Z" fill="#1B1B1B"/>
          <path d="M83.2172 1.65104C83.2172 8.01446 80.7711 8.21062 80.7451 8.21062L80.7451 8.22792L80.7451 10.501H80.9643C81.1518 10.501 85.5335 10.4116 85.9316 2.79623H88.9979V10.501H91.7412V0.505859H83.2201V1.65104H83.2172Z" fill="#1B1B1B"/>
          <path d="M52.8373 0.505859H44.0046V1.65104C44.0046 8.00004 41.3104 8.21062 41.2816 8.21062L40.9412 8.22792L41.4431 10.501H53.9104V8.21062H52.8401V0.505859H52.8373ZM50.094 8.21062H45.1988C46.0382 6.88947 46.52 5.07217 46.6411 2.79623H50.094V8.21062Z" fill="#1B1B1B"/>
          <path d="M61.6984 6.09332L59.6012 0.505859H55.4272V10.4981H58.1705V4.03372L60.5935 10.4981H62.8002L65.2262 4.03372V10.4981H67.9695V0.505859H63.7955L61.6984 6.09332Z" fill="#1B1B1B"/>
          <path d="M72.4842 6.13659V0.505859H69.741V10.4981H71.3621L76.9929 4.86736V10.4981H79.7361V0.505859H78.1178L72.4842 6.13659Z" fill="#1B1B1B"/>
          <path d="M42.5743 0.505859H39.6493L37.1686 7.27889L34.6474 0.505859H31.6936L34.3647 7.501H37.0878L36.1387 10.0943L35.9368 10.4981H38.8733L38.9426 10.3077C39.7358 8.15004 42.1474 1.58182 42.4185 0.898169L42.5743 0.505859Z" fill="#1B1B1B"/>
          <path d="M29.5615 0.779899L29.4548 0.505859H25.2145L21.7039 10.0943L21.502 10.4981H24.4385L25.0125 8.93753H29.6625L30.2365 10.4981H32.7057H33.173L32.9711 10.0943L29.5615 0.779899ZM27.3346 2.62604C27.6375 3.44238 28.0183 4.47218 28.425 5.57986H28.4221L28.8144 6.64716H25.8548L26.2471 5.57986H26.2442C26.6538 4.47218 27.0346 3.43949 27.3346 2.62604Z" fill="#1B1B1B"/>
          </svg>
