.footer
  .inner

    footer.footer__footer-copy-right
      span.footer__footer-text  © РИВС 2024
      a.footer__footer-link(href='#' class='footer__footer-link_footer-link-uppercase') политика конфиденциальности
      span.footer__footer-text Сделано в
        a.footer__footer-logo(href='#')
          <svg width="92" height="11" viewBox="0 0 92 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.5163 1.65095C12.5163 4.29324 11.9711 6.174 10.8922 7.24418C10.0701 8.06052 9.17882 8.14418 8.83555 8.13841L8.26152 8.16148L6.7038 6.28938C7.22879 5.9115 7.5432 5.28843 7.84608 4.68266C7.94704 4.48362 8.04514 4.28747 8.15764 4.08844L10.0009 0.502887H7.11057L6.0173 2.64902L5.80961 3.06152C5.55288 3.57498 5.16343 4.35381 4.9067 4.35381H2.74325V0.502887H0V10.4951H2.74325V6.64418H3.70096L6.9519 10.4951H10.1278H10.2663C10.4538 10.4951 14.8355 10.4057 15.2336 2.79037H18.297V10.4951H21.0402V0.5H12.5192V1.65095H12.5163Z" fill="#1B1B1B"/>
          <path d="M83.2172 1.65104C83.2172 8.01446 80.7711 8.21062 80.7451 8.21062L80.7451 8.22792L80.7451 10.501H80.9643C81.1518 10.501 85.5335 10.4116 85.9316 2.79623H88.9979V10.501H91.7412V0.505859H83.2201V1.65104H83.2172Z" fill="#1B1B1B"/>
          <path d="M52.8373 0.505859H44.0046V1.65104C44.0046 8.00004 41.3104 8.21062 41.2816 8.21062L40.9412 8.22792L41.4431 10.501H53.9104V8.21062H52.8401V0.505859H52.8373ZM50.094 8.21062H45.1988C46.0382 6.88947 46.52 5.07217 46.6411 2.79623H50.094V8.21062Z" fill="#1B1B1B"/>
          <path d="M61.6984 6.09332L59.6012 0.505859H55.4272V10.4981H58.1705V4.03372L60.5935 10.4981H62.8002L65.2262 4.03372V10.4981H67.9695V0.505859H63.7955L61.6984 6.09332Z" fill="#1B1B1B"/>
          <path d="M72.4842 6.13659V0.505859H69.741V10.4981H71.3621L76.9929 4.86736V10.4981H79.7361V0.505859H78.1178L72.4842 6.13659Z" fill="#1B1B1B"/>
          <path d="M42.5743 0.505859H39.6493L37.1686 7.27889L34.6474 0.505859H31.6936L34.3647 7.501H37.0878L36.1387 10.0943L35.9368 10.4981H38.8733L38.9426 10.3077C39.7358 8.15004 42.1474 1.58182 42.4185 0.898169L42.5743 0.505859Z" fill="#1B1B1B"/>
          <path d="M29.5615 0.779899L29.4548 0.505859H25.2145L21.7039 10.0943L21.502 10.4981H24.4385L25.0125 8.93753H29.6625L30.2365 10.4981H32.7057H33.173L32.9711 10.0943L29.5615 0.779899ZM27.3346 2.62604C27.6375 3.44238 28.0183 4.47218 28.425 5.57986H28.4221L28.8144 6.64716H25.8548L26.2471 5.57986H26.2442C26.6538 4.47218 27.0346 3.43949 27.3346 2.62604Z" fill="#1B1B1B"/>
          </svg>
