
.footer
  .inner

    +btn-top(type='button' class='btn-top_for-footer')

    -
      var list=[
                {
                title: "Оборудование",
                links: ["Флотационное оборудование", "Оборудование для подготовки пульпы", "Классификация", "Конвейеры и питатели", "Насосы", "Гидрометаллургическое оборудование"]
              },
                {
                  title: "Автоматизация",
                  links: ["Автоматизированные системы управления", "Опробование и аналитический контроль", "Электрооборудование"]
                },
                {
                  title: "Сервис и ЗИП",
                  links: ["Сервис", "ЗИП"]},
                {
                  title: "технология",
                  links: ["Минералогия", "Обогащение", "Металлургия", "Технологический аудит", "Рудоподготовка", "Полупромышленная установка", "Запуск фабрики", "Аналитическая химия"],
                },
              ]

    nav.footer__nav
      each val in list
        ul.footer__nav-col
          .footer__nav-item
            a.footer__nav-title(href='#') #{val.title}
            ul.footer__nav-list
              if val.links
                each link in val.links
                  li.footer__list-item
                    a.footer__nav-link(href='#') #{link}

      ul.footer__nav-col
        li.footer__nav-item
          a.footer__nav-title(href='#' class='footer__nav-title_with-mb') Проектирование
        li.footer__nav-item
          a.footer__nav-title(href='#') Пресс-центр
          ul.footer__nav-list
            li.footer__list-item
              a.footer__nav-link(href='#') Новости
            li.footer__list-item
              a.footer__nav-link(href='#') Научные публикации
            li.footer__list-item
              a.footer__nav-link(href='#') Научно-практические конференции
            li.footer__list-item
              a.footer__nav-link(href='#') Медиатека
            li.footer__list-item
              a.footer__nav-link(href='#') Фирменный стиль

      ul.footer__nav-col
        li.footer__nav-item(class='footer__nav-title_with-mb')
          a.footer__nav-title(href='#') О компании
          ul.footer__nav-list
            li.footer__list-item
              a.footer__nav-link(href='#') История
            li.footer__list-item
              a.footer__nav-link(href='#') Центры компетенций
            li.footer__list-item
              a.footer__nav-link(href='#') Патенты и лицензии
        li.footer__nav-item
          a.footer__nav-title(href='#' class='footer__nav-title_without-mb') проекты
        li.footer__nav-item
          a.footer__nav-title(href='#' class='footer__nav-title_without-mb') Карьера
        li.footer__nav-item
          a.footer__nav-title(href='#') Контакты


    section.footer__contacts-block
      +socials
      +contacts

    footer.footer__copy-right
      span.footer__text_text-copy  © РИВС 2024
      a.footer__link.footer__link_confident(href='#') политика конфиденциальности
      span.footer__text.footer__text_text-done Сделано в
        a.footer__logo(href='#')
          +ic-logo
















