mixin announcement(mods)
  -
    const baseName = 'announcement'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .announcement(class=allMods)&attributes(attributes)
    section.announcement__info
      header.announcement__header.title-48 АО «НПО «РИВС»
      p.announcement__text.
          Российская производственно-инжиниринговая компания, разрабатывающая комплексные решения
          для обогатительных и металлургических предприятий с достижением гарантированных
          технологических показателей.
      +button ("о компании")

    section.announcement__image
      img.announcement__img(src="/images/planet.png" alt="")
