.announcement {
  position: sticky;
  @media#{media('<', d)} {
    position: relative;
    margin-bottom: rem(48px);
  }
  &__header {
    margin-bottom: rem(20px);
    @media#{media('<', d)} {
      font-size: rem(24px);
      line-height: rem(26px);
    }
  }
  &__text {
    font-family: $font-inter;
    font-size: rem(20px);
    line-height: rem(30px);
    letter-spacing: -1.08px;
    color: #1B1B1B;
    margin-bottom: rem(20px);
    width: rem(646px);
    @media#{media('<', d)} {
      font-size: rem(14px);
      line-height: rem(21px);
      margin-bottom: 0;
      width: rem(536px);
    }
  }
  &__button {
    @media#{media('<', d)} {
      display: none !important;
    }
  }


}
