.contacts {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__title {
    font-size: rem(14px);
    line-height: rem(21px);
    color: $main-text;
    text-transform: uppercase;
    margin-bottom: rem(8px);
    @media#{media("<", d)} {
      font-size: rem(12px);
    }
  }
  &__link {
    font-size: rem(24px);
    line-height: rem(26px);
    font-family: $druk;
    color: $title-text;
    text-transform: uppercase;
    margin-bottom: rem(8px);
    @media#{media("<", d)} {
      font-size: rem(20px);
      line-height: rem(22px);
    }
  }
  @media#{media("<", d)} {
    margin-bottom: rem(24px);
  }
  @media#{media("<", xs)} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: rem(24px);
  }
}
