mixin btn-back-to-up(mods)
  -
    const baseName = 'btn-back-to-up'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  button.btn-back-to-up(class=allMods)&attributes(attributes)
      <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.3137 6.58579L9.8995 8L6.65697 4.75748L4.65697 4.75725L1.41421 8L0 6.58579L5.65685 0.928932L11.3137 6.58579Z" fill="#1B1B1B"/>
      </svg>
