mixin project-card(mods)
  -
    const baseName = 'project-card'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .project-card(class=allMods)&attributes(attributes)
    article.project-card__item
      header.project-card__header Инжиниринговый центр
      .project-card__info
        p.
          Проводим максимально полный цикл исследований для разработки наиболее
          эффективной технологии сложных видов сырья.
      .project-card__content
        span.project-card__number 01
        +loupe(class="project-card__image")


    article.project-card__item
      header.project-card__header Опытная команда
      .project-card__info
        p.
          Быстрая и качественная реализация проектов любой сложности
          инженерами-проектировщиками и технологами.
      .project-card__content
        span.project-card__number 02
        +people(class="project-card__image")


    article.project-card__item
      header.project-card__header Собственный машиностроительный завод
      .project-card__info
        p.
          Гарантируем высокое качество и бесперебойную
          работу поставляемого оборудования.
      .project-card__content
        span.project-card__number 03
        +home(class="project-card__image")


    article.project-card__item
      header.project-card__header Комплексный подход
      .project-card__info
        p.
          Предлагаем полный спектр услуг в сфере горной промышленности.
          Всегда ищем новые решения и накапливаем опыт.
      .project-card__content
        span.project-card__number 04
        +cubs(class="project-card__image")



