.project-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  grid-column-gap: rem(20px);
  padding-bottom: rem(140px);

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: rem(449px);
    border: 1px solid #D8D9DA;
    padding: rem(32px);
    cursor: pointer;
    flex: 1;
  }

  &__item:hover > &__info {
    display: block;
    z-index: 2;
  }
  &__item:hover > &__main {
    display: none;
  }


  &__header {
    font-family: $druk;
    font-size: rem(32px);
    font-weight: 700;
    line-height: rem(35px);
    color: #1B1B1B;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__number {
    font-family: $druk;
    font-size: rem(32px);
    font-weight: 700;
    line-height: rem(35px);
    color: #DB2E27;
    align-self: end;
  }
  &__image {
    align-self: end;
  }
  &__info {
    display: none;
    position: absolute;
    inset: 0;
    background-color: #D8D9DA;
    color: #1B1B1B;
    font-family: $font-inter;
    font-size: rem(24px);
    font-weight: 400;
    line-height: rem(36px);
    padding: rem(32px);
    z-index: -1;
  }


}
