mixin project-card(mods)
  -
    const baseName = 'project-card'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .project-card(class=allMods)&attributes(attributes)
    article.project-card__item
      .project-card__main
        header.project-card__header Инжиниринговый центр
        .project-card__content
          span.project-card__number 01
          img.project-card__image(src="../images/icon-project1.svg" alt="")
      .project-card__info
        p.
          Проводим максимально полный цикл исследований для разработки наиболее
          эффективной технологии сложных видов сырья.

    article.project-card__item
      .project-card__main
        header.project-card__header Опытная команда
        .project-card__content
          span.project-card__number 02
          img.project-card__image(src="../images/icon-project2.svg" alt="")
      .project-card__info
        p.
          Быстрая и качественная реализация проектов любой сложности
          инженерами-проектировщиками и технологами.

    article.project-card__item
      .project-card__main
        header.project-card__header Собственный машиностроительный завод
        .project-card__content
          span.project-card__number 03
          img.project-card__image(src="../images/icon-project3.svg" alt="")
      .project-card__info
        p.
          Гарантируем высокое качество и бесперебойную
          работу поставляемого оборудования.

    article.project-card__item
      .project-card__main
        header.project-card__header Комплексный подход
        .project-card__content
          span.project-card__number 04
          img.project-card__image(src="../images/icon-project4.svg" alt="")
      .project-card__info
        p.
          Предлагаем полный спектр услуг в сфере горной промышленности.
          Всегда ищем новые решения и накапливаем опыт.


