mixin achievements(mods)
  -
    const baseName = 'achievements'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .achievements(class=allMods)&attributes(attributes)
    article.achievements__item
      header.achievements__title.title-32 национальный проект «производительность труда»
      .achievements__image
        img.achievements__img(src="/images/achiv1.png" alt="")
      .achievements__txt
        p.achievements__descr Являемся участником Национального проекта «Производительность труда».


    article.achievements__item.achievements__item_inverse
      header.achievements__title гисп
      .achievements__image
        img(src="/images/achiv2.png" alt="")
      .achievements__txt
        p.achievements__descr Наше оборудование внесено в реестр государственной информационной системы промышленности ГИСП.

    article.achievements__item.achievements__item_gray
      header.achievements__title минпромторг россии
      .achievements__image
        img(src="/images/achiv3.png" alt="")
      .achievements__txt
        p.achievements__descr Мы находимся в реестре системообразующих организаций Минпромторга России в категории «Тяжёлое машиностроение».
        p.achievements__descr Нам присвоен статус «Российский производитель», подтверждающий российское происхождение всей линейки обогатительного оборудования.



