mixin main-title(mods)
  -
    const baseName = 'main-title'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .main-title(class=allMods)&attributes(attributes)
    header.main-title__title.title-108 развиваем российские решения
      | <span class='main-title__title-color'>по переработке минерального сырья</span>
    p.main-title__year [ <span class="main-title__year-color"> с 1991 года</span> ]
